/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header img{
  width: 50%;
}

.wf-sawarabimincho{
  font-family: "Sawarabi Mincho";
}

p span{
  position: relative;
  background: linear-gradient(transparent 40%, yellow 40%);
}

.g-recaptcha {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body{
  height: 100%;
  animation: fadeIn 4s forwards;
  padding-bottom: 70px;
}

.img-fluid{
  margin-bottom: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.headline{
  font-family: 'Amatic SC', cursive;
}
