<% content_for(:title, "SEARCH RESULTS") %>
<div class="container">
  <div class="headline">
    <h2>SEARCH RESULTS</h2>
  </div>
  <p class="wf-sawarabimincho">
    <span>検索結果:<%= @results.count %>件</span>
  </p>
</div>
<% if @results.count > 0 %>
  <div class="container">
    <table class="table text-center">
      <thead>
        <tr>
          <th>卒業年度</th>
        </tr>
      </thead>
      <% @results.each do |team| %>
        <tbody>
          <tr>
            <td>
              <%= link_to team.graduation, remember_you_record_path(team.id), class:"text-info" %>
              <span>年度</span>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
<% else %>
  <p class="text-center">検索結果はありません</p>
<% end %>
<div class="text-center">
  <%= link_to "一覧ページへ戻る", remember_you_records_path, class:"text-dark" %>
</div>
